* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 20px;
}
body {
  overflowx: hidden;
}
/* ! header start */
header {
  background-color: #181d31;
  height: 100vh;
}
#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top img {
  width: 80px;
  border-radius: 50%;
  border-color: black white green red;
  border-style: solid;
  border-width: 5px;
}

#top .list ul {
  list-style: none;
  display: flex;
  margin-right: 100px;
}
#top .list ul li {
  margin: 5px 15px;
}
#top .list ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#top .list ul a:hover {
  border-bottom: 2px solid gold;
  color: gold;
}
/* !111111111111111 */

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
}
header .content .primary-text {
  color: #fb2576;
  font-size: 50px;
  font-weight: bolder;
  line-height: 80px;
}
header .content h1 {
  font-size: 28px;
  padding: 20px;
  color: gold;
  animation: animation1;
  animation-duration: 2s;
}
header .content h1 p {
  color: white;
  padding-top: 10px;
}
@keyframes animation1 {
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0);
  }
}
header .content img {
  width: 230px;
  height: 320px;
  border-radius: 20px;
  opacity: 0.5;
  animation: animation2;
  animation-duration: 2s;
}
@keyframes animation2 {
  0% {
    transform: translatex(500px);
  }
  100% {
    transform: translatex(0);
  }
}
header .content img:hover {
  outline: 5px solid gold;
  opacity: 1;
}
/* !footer */
footer {
  text-align: center;
  margin-top: 100px;
  color: #32323e;
  padding: 20px;
  background-color: gold;
  font-weight: bold;
  animation: animation3;
  animation-duration: 2s;
}
@keyframes animation3 {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
/* ! About */
 .main-title .text {
  margin-top: 80px;
  font-size: 20px;
  color: white;
  line-height: 30px;
 padding: 30px;
  
}
.main-title .text .span1,
.main-title .span4  {
  color: gold;
}
.main-title .text .span2 {
  text-decoration: underline solid gold;
  margin-bottom: 10px;
}
.main-title  ul li {
  color: #fb2576;
  list-style: square;
}
/* !content */

#contact {
  padding: 5rem;
  background: #181d31;
}
#contact .container {
  max-width: 900px;
}
#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#contact .contact-content .contact-info {
  width: 50%;
}
#contact .contact-content .contact-info div {
  margin: 20px 0;
  line-height: 1.7;
}
#contact .contact-content .contact-info h3 {
  font-size: 28px;
  color: #fb2576;
  margin-bottom: 10px;
}
#contact .contact-content .contact-info p {
  color: white;
}

#contact .contact-content .contact-info i {
  color: gold;
  margin-right: 5px;
}

#contact .contact-content .contact-info a i {
  color: gold;
  padding: 0 20px;
  font-size: 20px;
  

}

form {
   width: 50%;
}
form input,
textarea {
  color: black;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: gold;
}
#contact .btn {
  background: gold;
  color: black;
  cursor: pointer;
}
#contact .btn:hover {
  background-color: #383848;
  color: orange;
  transition-duration: 0.5s;
}